*{
    box-sizing: border-box;
}
body{
    background-color: hsl(204, 43%, 93%);
    padding-top:10vh;
}


[class*="col-"]{
    width:100%;
    padding:2vw;
}

.row::after {
    content: '';
    clear:both;
    display: table;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
color: hsl(228, 45%, 44%);
}
.container{
    margin:auto;
    width:80vw;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    background-color: #fff;
    box-shadow: 2px 5px 10px hsl(218, 22%, 67%);
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    font-weight:normal;
}
h1{
    padding-bottom: 1.5vh;
}

.sub-container{
    padding:2.5vh;
    padding-top: 1vh;
}

.intro h1{
    font-size: 22px;
    color: hsl(179, 62%, 53%);
}

.intro h2{
    font-size: 16px;
    color: hsl(71, 83%, 54%);
}

.intro p{
    line-height: 3vh;
    opacity: 0.5;
}

.sub{
    background-color: hsl(179, 62%, 43%);
    color:#fff;
}

.sub h2{
    font-size: 16px;
}
.button{
    width:100%;
    margin:auto;
    text-align: center;
    background-color: hsl(71, 83%, 54%);
    border-radius: 5px;
    padding:4%;
    font-size: 16px;
}
.button:hover{
    background-color: black;
}
.money{
    color:rgb(255,255,255);
    font-size: 26px;
}

.faint{
    color:rgba(255,255,255,0.5);
}
.faintish{
    color:rgba(255,255,255,0.75);
}



.why{
    background-color: hsl(179, 62%, 53%);
    color:rgb(255,255,255);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.why ul{
    color:rgba(255,255,255,0.75);
    padding:0;
    line-height: 2.5vh;
    list-style-type: none;
}

@media only screen and (min-width: 600px){

    /* Divide 100% by the number of columns you want and then multiply accordingly e.g (100% / 12 = 8.33%) */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .join .sub-container{
        float:left;
        height:27vw;
        border-bottom-left-radius: 2%;
    }
    .button{
        margin-top:5vh;
    }
    .join .why{
        border-bottom-left-radius: 0;
    }

}